<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >
	<bean id="websocketInboundTransportServiceBean" class="com.esri.geoevent.transport.websocket.WebsocketInboundTransportService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="websocketInboundTransportService" ref="websocketInboundTransportServiceBean" interface="com.esri.ges.transport.TransportService"/>
	
</blueprint>